<div class="col-md-4">
 <div class="thumbnail">
    <img src="https://photos5.appleinsider.com/gallery/38808-74050-iPhone-12-Pro-Max-Back-xl.jpg" alt="" width="300" height="200">
    <div class="caption">
        <h3>iphone 12pro</h3>
        <p>This is the best iphone available int the market
        </p>
        <p>
            <strong>Price $222</strong>
        </p>
        <p>
            <button class="btn btn-primary btn-sm">Add to Cart</button>
            {{''}}
            <button class="btn btn-default btn-sm">View Details</button>
        </p>
    </div>
 </div>
</div>